* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: "Gabarito", sans-serif;
}

.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap: 10px;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 1;
}

.navbar__s1__title {
    color: #A435F0;
}

.navbar__s2 {
    border: solid black 1px;
    padding: 5px;
    width: 60%;
    border-radius: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar__s2 input {
    width: 100%;
    border: none;
    font-size: 16px;
    background-color: transparent;
}

.navbar__s3 {
    display: flex;
    gap: 10px;
    align-items: center;
}

.mylearning {
    position: relative;
    cursor: pointer;
}

.mylearning__popup {
    background-color: white;
    color: black;
    position: absolute;
    width: 110%;
    padding: 10px;
    top: 30px;
    right: 0px;
    border: solid black 2px;
    display: none;
}

.mylearning:hover .mylearning__popup {
    display: block;
}

.categories {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    border-bottom: solid black 1px;

}

.categories p {
    background-color: #A435F0;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    border: solid #A435F0 1px;
}

.categories p:hover {
    border: solid #A435F0 1px;
    background-color: transparent;
    color: black;
    transition: 2s;
}

.sale-image {
    position: relative;
}

.sale-image img {
    width: 100%;
}

.sale-image__offer {
    background-color: white;
    color: black;
    width: 30%;
    padding: 15px;
    position: absolute;
    border: solid black 2px;
    top: 50px;
    left: 80px;
    animation-name: zoom;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes zoom {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.recommanded {
    margin-top: 10px;
    padding: 10px;
}

.recommanded__container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.recommanded__course__card {
    width: 290px;
}

.recommanded__course__card img {
    width: 100%;
    height: 70%;
}

.topics {
    margin-top: 10px;
    padding: 10px;
}

.topics__recommanded {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.topics__recommanded p {
    border: solid gray 2px;
    flex-grow: 1;
    flex-basis: 27%;
    padding: 10px;
}

.popular__section {
    padding: 10px;
    margin-top: 10px;
}

.popular__container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 18px;
}

.popular__course__card {
    width: 290px;
}

.popular__course__card img {
    width: 100%;
    height: 70%;
}

.footer {
    margin-top: 20px;
    background-color: black;
    color: white;
    padding: 10px;

}

.footer__one {
    display: flex;

}

.footer__one p {
    margin: 20px;
}

.footer__two {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
}